/.agents/
.DS_Store
__pycache__/
*.py[cod]
*.o
*.d
*.asm
*.sym
**/kernel/kernel
**/mkfs/mkfs
**/fs.img
**/user/_*
qemu-int.log
.gdbinit
2024302111239-kernel/user-flat/
2024302111239-kernel/user/usys.S
2024302111239-kernel/kernel/userimg.S
